.table-title {
  margin: 1em 0;
  font-size: 1rem;
}
table {
  width: 100%;
  margin-left: auto;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #000;
}

table td,
table th {
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 20px;
}
