.container {
  background-color: #eee;
  padding: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  align-items: end;
}

.title h1 {
  margin: 0 15px 0 0;
}

.title p {
  margin-bottom: 3px;
}

.btn {
  color: white;
  background-color: #3e55af;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 1px 2px #000;
  text-decoration: none;
}
